body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .stepper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 50px 0;
  }
  
  .stepper__step {
    width: 60px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }
  
  .stepper__step:after {
    content: "";
    background: #dcdcdc;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 100%;
    top: 15px;
    bottom: 0;
  }
  
  .stepper__step:first-child:after {
    display: none;
  }
  
  .stepper__step__index {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: white solid 1px;
    background: #dcdcdc;
    color: white;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .stepper__step--done .stepper__step__index {
    background: #2d3047;
    color: #fff;
  }
  
  .stepper__step--current .stepper__step__index {
    background: #2f3554;
    color: #fff;
  }
  
  .stepper__step--done:after {
    background: #2d3047;
  }
  
  .stepper__step--current:after {
    background: #4e6c99;
  }
  
  .stepper__step__label {
    color: #999;
  }
  
  .stepper__step--done .stepper__step__label {
    color: #b71414;
  }
  
  .stepper__step--current .stepper__step__label {
    color: #f54141;
  }