.calculator {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-body {
  font-family: "Lora", serif;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.calcBodyText {
  margin-top: 20px;
  padding-left: 2px;
}

.calcHeaderText {
  margin-bottom: 20px;
}

.calculator-subheader {
  font-weight: bold;
  font-size: 1.2rem;
}

.calculator-numbered-item {
  text-indent: -1em;
  margin-left: 1em;
}

.calc-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 0;
  padding-bottom: 1vh;
  max-height: calc(100vh- 10em);
}

.progressBar {
  width: 100%;
  background-color: var(--gray90);
  height: 15px;
  overflow: hidden;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  z-index: 1;
  position: relative;
}

.progressBar-active {
  width: 0%;
  background-color: var(--light-blue);
  height: 15px;
  overflow: hidden;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.progressBar-current {
  width: 0%;
  background-color: var(--light-blue-transparent);
  height: 15px;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.progressBar li {
  position: relative;
  list-style-type: none;
  text-align: center;
  display: inline;
  background: var(--gray90);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  color: #ffffff;
  float: left;
  z-index: 4;
}

.progressBar li:nth-child(3) {
  background: var(--light-blue);
}

.progress-bar-title {
  font-size: 14px;
  line-height: 16px;
  color: var(--light-blue-transparent);
}

ul {
  list-style-type: disc;
  text-align: left;
}

a {
  text-decoration: underline;
  color: #000;
}

.calc-col.disclaimer {
  text-align: center;
  font-size: 1.46vh;
  padding-bottom: 15vh;
  margin-top: 0;
}

a.survey {
  font-size: 3.17vh;
  text-align: center;
  margin: 10vh auto 5vh;
}

.calc-col.disclaimer.result-no {
  margin-top: 10vh;
}

/* ! This section is for mobile */
@media only screen and (max-width: 600px) {
  .calc-col {
    flex: 0;
  }
  .calc-col.results {
    flex: 0.25;
  }
  .calc-grid {
    padding: 0 3.17vh;
  }
}

/* ! This section is for desktop */
@media only screen and (min-width: 601px) {
  .calc-grid {
    max-width: 552px;
  }
  .calc-col {
    width: 100%;
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .calc-col.results {
    text-align: left;
  }

  .calc-col {
    flex: 0;
  }
  .calc-grid {
    margin-top: 75px;
  }
  .calc-col.body ul {
    margin-bottom: 0;
  }
}
