.calculator {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-body {
  font-family: "Lora", serif;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.calculator-subheader {
  font-weight: bold;
  font-size: 1.2rem;
}

.calculator-numbered-item {
  text-indent: -1em;
  margin-left: 1em;
}

.calc-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 0;
  padding-bottom: 1vh;
  max-height: calc(100vh- 10em);
}

.progressBar-wrapper
{
  width: 100%;
  align-items: flex-start;
  background-color:rgba(229, 229, 229, 1);
  height: 15px;
  border-radius: 10px;
}

.progressBar{
  width: 100%;
  background-color: rgba(229, 229, 229, 1);
  height: 15px;
  overflow: hidden;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  z-index:1;
  position: relative;
}
.progressBar-active {
  width: 0%;
  background-color: #4E6C99 ;
  height: 15px;
  overflow: hidden;
  border-radius: 10px;
  z-index:2;
  position: absolute; 
  top: 0; 
  left: 0;
}
.progressBar li {
  position:relative;
  list-style-type: none;
  text-align: center;
  display: inline;
  background: #E5E5E5;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 12px;
  color: #FFFFFF;
  float: left;
  z-index:3;
}

.progressBar li:nth-child(2)  {
  background: #4E6C99;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #000;
}

.calc-col.disclaimer {
  text-align: center;
  font-size: 1.46vh;
  padding-bottom: 15vh;
  margin-top: 0;
}

a.survey {
  font-size: 3.17vh;
  text-align: center;
  margin: 10vh auto 5vh;
}

.calc-col.disclaimer.result-no {
  margin-top: 10vh;
}

/* ! This section is for mobile */
@media only screen and (max-width: 600px) {
  .calc-col {
    flex: 0;
  }
  .calc-col.results {
    flex: 0.25;
  }
  .calc-grid {
    padding: 0 3.17vh;
  }
}

/* ! This section is for desktop */
@media only screen and (min-width: 601px) {
  .calc-grid {
    max-width: 552px;
  }
  .calc-col {
    width: 100%;
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .calc-col.results {
    text-align: left;
  }

  .calc-col {
    flex: 0;
  }
  .calc-grid {
    margin-top: 75px;
  }
  .calc-col.body ul {
    margin-bottom: 0;
  }
}
