html,body {
    margin:0px;
    padding:0px;
}

.icons {
    width: 150px;
    height: 150px;
}

.row {
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.dark-bg {
    background-color: var(--dark-blue);
    text-align: center;
    color: #ffffff;
}

.light-bg {
    background-color: var(--gray);
    text-align: center;
}

.homepage__cvp-logo {
    position: absolute;
    right: 0;
    padding: 20px;
}

#cvp-logo {
    padding: 20px;
}

/* 
#vector3 {
    padding: 1em;
    transform: rotate(180deg);
}

#vector2 { 
    padding: 1em;
} */