#nav {
  background-color: var(--dark-blue);
  color: #ffffff;
}

#nav a {
  color: #ffffff;
}

#nav-logo {
  width: 25px;
  margin: 0px 10px;
}

.navbar-nav .nav-link {
  margin: 0px 10px;
}

#navbar-text {
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  #navbar-text {
    display: none;
  }
}
