.calc-btn {
  background-color: rgba(78, 108, 153, 1);
  width: 264px;
  height: 48px;
  left: 55px;
  top: 441px;
  color: whitesmoke;
  margin: 15px;
  font-size: 25px;
  border-radius: 5px;
  justify-content: center;
  display: inline-flex;
}
